<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/lib/js/jQuery3-6-0.js"></script>
    <script type="text/javascript" src="../static/lib/js/echart.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
    <link rel="stylesheet" href="../static/lib/X-admin/css/font.css">
    <link rel="stylesheet" href="../static/lib/X-admin/css/xadmin.css">
    <script src="../static/lib/X-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/lib/X-admin/js/xadmin.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="../static/lib/js/jQuery3-6-0.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body id="sale-chart" style="height: 100%; margin: 0">
    <div id="container" style="height: 100%"></div>
<script type="text/javascript">

  </script>
</body>
</html>