<!doctype html>
<html lang="en" class="x-admin-sm">
    <head>
	    <meta charset="UTF-8">
	    <title>Fruit Shop</title>
        <link rel="shortcut icon" href="../static/image/fruit.icon" type="image/x-icon" />
	    <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" href="../static/lib/X-admin/css/font.css">
        <link rel="stylesheet" href="../static/lib/X-admin/css/login.css">
        <link rel="stylesheet" href="../static/lib/X-admin/css/xadmin.css">
        <script type="text/javascript" src="../static/lib/X-admin/js/jquery.min.js"></script>
        <script src="../static/lib/X-admin/lib/layui/layui.js" charset="utf-8"></script>
        <script src="../static/js/index.js" charset="utf-8"></script>
    </head>
    <body class="login-bg" id="login">
    
        <div class="login layui-anim layui-anim-up">
            <div class="message">Fruit Shop</div>
            <div id="darkbannerwrap"></div>
            <form method="post" class="layui-form" name="login">
                {{ form.csrf_token }}
                {{ form.username(class_="form-control layui-input", placeholder="Username", id="user") }}
                 <hr class="hr15">
                {{ form.password(class_="form-control layui-input", placeholder="Password", id="password") }}
                <hr class="hr15">
                {{ form.identity(class_="form-control", id="identity") }}
                <hr class="hr20" >
                <input value="Login" lay-submit lay-filter="login" style="width:100%;" type="button" class="clear-mem" id="login-button">
                <hr class="hr20" >
            </form>
            <a href="{{ url_for('register') }}"><input value="Register"  style="width:100%;" type="submit"></a>
        </div>
    </body>
</html>

