<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../static/lib/js/jQuery3-6-0.js"></script>
    <script type="text/javascript" src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../static/lib/X-admin/css/font.css">
    <script src="../static/lib/bootstrap/bootstrap.min.js"></script>
    <script src="../static/lib/js/xcity.js"></script>
    <link rel="stylesheet" href="../static/lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/index.js"></script>
    <title>Title</title>
</head>
<body class="welcome over" >
    <a class="layui-btn layui-btn-small refresh" href="javascript:location.replace(location.href);" title="refresh">
        <i class="iconfont">&#xe6aa;</i>
    </a>
    {% block content %}{% endblock %}
</body>
</html>